<?xml version="1.0"?>
<configuration>
    <configProtectedData />
    <system.diagnostics />
    <system.windows.forms />
    <uri />
    <appSettings>
        <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
        <add key="provider" value="Cache" />
        <add key="url" value="" />
    </appSettings>
    <system.web>
      <anonymousIdentification />
      <authentication />
      <authorization />
      <clientTarget />
      <customErrors />
      <deviceFilters />
      <fullTrustAssemblies />
      <globalization />
      <healthMonitoring />
      <hostingEnvironment />
      <httpCookies />
      <httpHandlers />
      <httpModules />
      <httpRuntime />
      <identity />
      <machineKey />
      <membership />
      <mobileControls />
      <pages />
      <partialTrustVisibleAssemblies />
      <profile />
      <roleManager />
      <securityPolicy />
      <sessionPageState />
      <sessionState />
      <siteMap />
      <trace />
      <trust level="Full" />
      <urlMappings />
      <webControls clientScriptsLocation="/aspnet_client/{0}/{1}/" />
      <webParts />
      <webServices>
        <wsdlHelpGenerator href="DefaultWsdlHelpGenerator.aspx" />
      </webServices>
      <xhtmlConformance />
      <compilation debug="true" targetFramework="4.5" />      
      <caching>
        <cache />
        <outputCache />
        <outputCacheSettings />
        <sqlCacheDependency />
      </caching>
    </system.web>
  <connectionStrings>
    <add name="MessengerSTR" connectionString="Server=tcp:simp3.database.windows.net,1433;Initial Catalog=SimpMessenger;Persist Security Info=False;User ID=simp;Password=Sick4fun;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
  </connectionStrings>

  <system.net>
    <authenticationModules />
    <connectionManagement />
    <defaultProxy />
    <requestCaching />
    <settings />
    <webRequestModules />
    <mailSettings>
      <smtp />
    </mailSettings>
  </system.net>
  <system.runtime.caching>
    <memoryCache />
  </system.runtime.caching>
  <system.runtime.serialization>
    <dataContractSerializer />
  </system.runtime.serialization>
  <system.serviceModel>
    <behaviors />
    <bindings />
    <client />
    <comContracts />
    <diagnostics />
    <extensions />
    <protocolMapping />
    <routing />
    <serviceHostingEnvironment />
    <services />
    <standardEndpoints />
    <tracking />
  </system.serviceModel>
  <system.serviceModel.activation>
    <diagnostics />
    <net.pipe />
    <net.tcp />
  </system.serviceModel.activation>
  <system.transactions>
    <defaultSettings />
  </system.transactions>
  <system.web.extensions>
    <scripting>
      <scriptResourceHandler />
      <webServices>
        <authenticationService />
        <jsonSerialization />
        <profileService />
        <roleService />
      </webServices>
    </scripting>
  </system.web.extensions>
  <system.xaml.hosting>
    <httpHandlers />
  </system.xaml.hosting>
  <system.xml.serialization>
    <dateTimeSerialization />
    <schemaImporterExtensions />
    <xmlSerializer />
  </system.xml.serialization>
</configuration>
