<?xml version="1.0"?>
<configuration>
    <appSettings>
      <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
      <add key="provider" value="sql" />
    </appSettings>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />      
    </system.web>
  <connectionStrings>
    <add name="MessengerSTR" connectionString="Server=(LocalDb)\MSSQLLocalDB;Integrated Security=true;database=SimpMessenger" />
    <!--<add name="MessengerSTR" connectionString="Server=tcp:simp3.database.windows.net,1433;Initial Catalog=SimpMessenger;Persist Security Info=False;User ID=simp;Password=Sick4fun;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />-->
  </connectionStrings>

</configuration>
